[user]
	name = {{ .name }}
	email = {{ .email }}
[color]
	ui = true
[push]
	default = simple
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[http]
	postBuffer = 524288000
[pull]
	ff = only
[init]
	defaultBranch = main
